@{
    Layout = "_Layout2";
}
@model School
<form method="post" class="form-horizontal">
    <h3>请输入学院信息：</h3>     <hr />
    <div class="form-group">
        <label asp-for="Name" class="col-md-2">学校名：</label>         <input asp-for="Name" class="col-md-4 form-control" />
        <span asp-validation-for="Name" class="col-md-4 text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Site" class="col-md-2">网址：</label>         <input asp-for="Site" class="col-md-4 form-control" />
        <span asp-validation-for="Site" class="col-md-4 text-danger"></span>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">             <input type="submit" value="提交" class="btn btn-primary" />         </div>
    </div>
</form>