@using Microsoft.AspNetCore.Identity
@using mobilePhoneSalesWebSite.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-controller="Manage" asp-action="/">欢迎您，@UserManager.GetUserName(User)!</a></li>
    <li>
        <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-log-in"></span>登出</button>
        </form>
    </li>
}
else
{
    <li><a asp-action="../Account/Register"><span class="glyphicon glyphicon-user"></span>注册</a></li>
    <li><a asp-controller="Account" asp-action="Login"><span class="glyphicon glyphicon-log-in"></span>登录</a></li>
    @*<p>欢迎光临。送花请<a asp-area="" asp-controller="Account" asp-action="Login">登录</a></p>
    <p>免费<a asp-area="" asp-controller="Account" asp-action="Register">注册</a></p>*@
}
