@{
    ViewData["Title"] = "AllPhone";
}
@{
    Layout = "_Layout3";
}
@model HomeIndexViewModel
<div class="container">
    <div class="row" style="margin:20px auto">
        @foreach (PhoneList pl in Model.AllPhones)
            {
                <div class="col-xs-4 col-md-3">
                    <a asp-action="/phonedetail/@pl.p.ObjId" class="thumbnail">
                        <img alt="" src="~/images/@pl.p.Img" style="height: 100%; width: 100%; display: block;">
                        <div class="text-center">
                            <h5>@pl.p.Name </h5>
                            <small>@pl.p.Introduce </small>
                            <p class="text-danger">@pl.p.Price 元<small><del>@pl.p.Price2   元</del></small></p>
                        </div>
                    </a>
                </div>
            }
    </div>
</div>