.hnav {
    width: 100%;
    background-color: #efe;
    border-bottom: 1px solid #efe;
}

    .hnav li:hover a {
        background-color: #fff;
    }

.waiju {
    margin-top: 2em;
}

.neiju {
    padding: 20px;
}

.panel-body a {
    margin: 5px;
}
