@using Microsoft.AspNetCore.Http;
@*@model FlowerWorld.Models.OrderViewModel*@

@{
    ViewBag.Title = "订单确认";
    Layout = "_Layout5";
    //ViewBag.contBuy = "/";
    //int orderNo = 0;
    //HttpRequest Request = ViewBag.Request as HttpRequest;

}
<div><h1>这里是订单确认</h1></div>