@model RegisterViewModel
@{
    ViewData["Title"] = "注册用户";
}
@{
    Layout = "_Layout2";
}

<h2>@ViewData["Title"]</h2>
<div class="inner-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text">
                <h1 class="text-center">手机用户注册</h1>
                <p><a href="#">注册协议说明</a></p>
            </div>
        </div>
        <div class="row">
            <div class="  col-sm-6 form-box">
                <form asp-controller="Account" asp-action="Register" method="post" class="registration-form form-horizontal">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">立即注册</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
        @section Scripts {
            @await Html.PartialAsync("_ValidationScriptsPartial")
        }
